<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>게시글 등록</h1>

<form th:action="@{/test}" th:method="post">
    <div>
        <label for="title">제목</label>
        <input type="text" id="title" name="title" placeholder="제목 입력">

    </div>
    <div>
        <label for="author">작성자</label>
        <input type="text" id="author" name="author" placeholder="작성자 입력">
    </div>
    <div>
        <label for="content">내용</label>
        <input type="text" id="content" name="content" placeholder="내용 입력">
    </div>
    <a th:href="@{/}" role="button">취소</a>
</form>
<button type="button" id="btn-save">등록</button>


</body>

<th:block th:replace="~{/layout/footer::setFooter(~{this::footer})}">
    <th:block th:fragment="footer"></th:block>
    footer
</th:block>

</html>