<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>
<h1>스프링 부트</h1>
index.html

<div>
    <a href="/logout" role="button">LogOut</a>

    <a href="/oauth2/authorization/google" >Google Login</a>
    <a href="/oauth2/authorization/naver" >Naver Login</a>
    <a th:href="@{/posts/save}">게시글 리스트</a>
    <div>
    </div>
</div>
<table>
<thead>
<tr>
    <th scope="col">#</th>
    <th scope="col">Gno</th>
    <th scope="col">Title</th>
    <th scope="col">Writer</th>
    <th scope="col">Regdate</th>
</tr>
</thead>
<tbody>
<!--posts 라는 이름으로 담겨있는 model 데이터를 post 로 정의
    그리고 th:each 를 통해 posts 의 데이터를 순회
-->
<tr th:each="post : ${posts}">
    <td>
        <a th:href="@{/posts/update/{id}(id=${post.id})}">
<!--{id}(id=${post.id}) 로 한 이유 (id=${post.id})로 하면 url 이 /posts/update/?{id} 가 됨-->
            수정
        </a>

    </td>

    <td th:text="${post.id}"></td>
    <td th:text="${post.title}"></td>
    <td th:text="${post.author}"></td>
    <td th:text="${post.modifiedDate}"></td>
</tr>
</tbody>
</table>
</body>

<th:block th:replace="/layout/footer :: setFooter(~{this::footer})">
    <th:block th:fragment="footer"></th:block>
</th:block>

</html>